doctype html
html
  head
    title React Fetch Boilerplate

  body
    #root!= content

  script.
    window.__APOLLO_STATE__ = !{JSON.stringify(initialState)};

  if env == 'development'
    script(src='/main.js')
  else
    script(src='/assets/main.js')
